<section id="about">
  <div id="contact" class="bg-gradient-to-r from-black to-gray-500 h-auto flex justify-between items-center mx-auto grid lg:grid-cols-2 pt-8 lg:pt-0">
    <div>
      <div class="text-center">
        <h1 class="text-7xl font-bold text-white">Norecture</h1>
      </div>
    </div>
    <div class="p-16 text-center text-white">
      <h1 class="text-2xl mb-6">About Us</h1>
      <p class="px-14">
        Norecture is a brand that was established in 2022 and produces products for its customers without sacrificing quality. Our vision is to combine fashion and quality. Our brand, which was established for this purpose, continues to design and produce new
        products every day.
      </p>
      <br /><br />
      <h1 class="text-2xl mb-6">Contact</h1>
      <p class="px-14">
        Tel: 05434497929 <br /> Address: Norecture Comp. <br> 132, My Street, <br> Kingston, New York 12401 <br> United States
      </p>
    </div>
  </div>
</section>