<div id="<%= dom_id product %>">
  <div class=" mb-12 w-full">
    <div class="group w-full flex flex-col px-4 pb-6 rounded-lg">
      <%= link_to image_tag(product.photos.first, :class => "group-hover:p-2 ease-in duration-300 object-cover h-96 md:h-[700px] w-full"), product %>

      <p class="mt-4 text-gray-900"><%= product.name %></p>
      <p class="font-bold mt-2"><%= product.price %> $</p>
    </div>
  </div>

</div>
